html, body {
     margin: 0;
     width: 100%;
     height: 100%;
     background-color: black;
     background-image: url(1.jpg);
     background-size: cover;
     z-index: -1;
}

.center {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

h1 {
     font-family: Poppins;
     text-transform: uppercase;
     color: #fff;
     text-align: center;
     font-weight: 600;
     font-size: 30px;
     letter-spacing: 30px;
     line-height: 50px;
     margin: 0;
}

.ca {
     font-family: Poppins;
     text-transform: uppercase;
     color: #fff;
     text-align: center;
     font-size: 24px;
     letter-spacing: 15px;
     line-height: 50px;
     margin: 0;
}

@media only screen and (max-width: 768px) {
     h1 {
          font-size: 20px;
          letter-spacing: 4px;
          line-height: 30px;
     }
     .center img {
          width: 100%;
     }
     .contact h2{
          font-size: 18px;
     }
     .contact h3 {
          font-size: 16px;
     }
     .contact p {
          font-size: 12px;
     }
}

.contact {
     position: absolute;
     bottom: 0;
     right: 0;
     background-color: #fff;
     text-align: center;
     font-family: 'Chilanka', cursive;
     border-radius: 10px;
     margin: 20px;
     padding: 5px 10px;
     opacity: .8;
}

.contact a {
     text-decoration: none;
     color: #1f1f1f;
     
}

.contact h2 {
     margin: 3px 0;
}

.contact p {
     margin: 3px 0;
}

